@import '../../styles/vars';

.usersCard {
  &__content {
    width: 400px;
    //height: 200px;
    font-family: $mainFonts;
    font-size: 15px;
    color: $fontsColors;
    padding: 12px;
    background-color: $bgCardColors;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.13);
  }
  &__rowTop {
  }
}
