// colors
$avatarColors: #545454;
$headerColors: #1f1f21;
$bgCardColors: #2c2d2d;
$bgColors: #252627;
$fontsColors: #ffffff;
$fontsFormColorsHover: #545454;
$formColors: #545454;
$formColorsHover: #7b7b7b;

//fonts
$mainFonts: 'Roboto';

//
$transition: all 0.5s ease-out;
